@model IEnumerable<CoursePilotWebApp.Models.Domain.Module>

@{
    ViewData["Title"] = "Modules";
}

<h1 class="Heading">Modules</h1>

<a asp-action="Create" class="arrow">
    <span class = "Create-Link">
        <span>
            <span>&#11153;&nbsp;</span>
        </span>
        Create new module
    </span>
</a>
<div class="module-grid">
    @foreach (var item in Model)
    {
        <div class="module-item">
            <img src="/Images/Image3.png" alt="Module Image">
            <h3>@Html.DisplayFor(modelItem => item.moduleName)</h3>
            <p>@Html.DisplayFor(modelItem => item.ModuleCode)</p>
            <!-- Add more details here -->
            <div class="module-actions">
                <a asp-action="Details" asp-route-id="@item.ID" class="modify">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="modify">Delete</a>
            </div>
        </div>
    }
</div>
@if (TempData.ContainsKey("ErrorMessage"))
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@TempData["ErrorMessage"]',
        });
    </script>
}
